body {
    margin: 0px;
    padding: 0px;
}
.container { 
    width: 80%;
    margin: auto;
    display: flex;
}

.box {
     border: 2px solid black;
    padding: 10px;
    margin: 3px;
    margin-top: 80px;
    line-height: 25px;
    border-radius: 10px;
    

}
img {
    height: 140px;
}
.eye {
    width: 20px;
    height: 20px;
}
 
a {
    text-decoration: none;
    font-size: 23px;
}
.name {
    padding-left: 500px;
    font-size: 30px;
    

}
#aa {
    font-size: 35px;
}